* {
	margin: 0;
	padding: 0;
	/*有隐患*/
	overflow: hidden;
	-webkit-text-size-adjust:none;
}

#wrapper {
	position: relative;
}

#wrapper p {
	/*position: absolute;*/
}

#bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 25px;
	-webkit-filter:blur(3px);
}

#top {
	height: 30px;
	background-color: rgb(103, 90, 74);
}

#search-area {
	width: 40%;
	float: left;
}

#search-form {
	color:white;
	line-height:30px;
	padding-left: 5px;
	font-family: "Microsoft YaHei";
}
#search-form p{
	color:white;
}

#search-form button {
	width: 50px;
	border-radius: 7px;
	opacity: 0.8;
}

#song-name,#singer-name {
	width: 70px;
	border-radius: 7px;
}

#other-area {
	width: 58%;
	height: 28px;
	line-height: 28px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 999;
	/*background-color: rgb(103, 90, 74);*/
}

#other-area p {
	color: white;
	font-family: "Microsoft YaHei";
	position:absolute;
}

#main {
	height: 70%;
	/*background-color: gray;*/
	margin-top: 5px;
}

#left {
	width: 24%;
	height: 100%;
	float: left;
	/*background-color: yellow;*/
	background:transparent;
	border-right:2px solid black;
	position: relative;
}

#information-area {
	width: 100%;
	height: 15%;
	/*background-color: green;*/
}

#information-area span {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
}

#information-area span h2,h3 {
	text-align: center;
	color:white;
	font-weight:bold;
}

#lrc-area {
	width: 100%;
	height: 60%;
	position: absolute;
	top:80px;
	/*background-color:gray;*/
	border-bottom:2px solid black;
	border-top:2px solid black;
	/*background-color: white;*/
}
#lrc-content{
	width:100%;
	position:absolute;
	top:-10px;
	/*background-color:green;*/
}
#lrc-content p{
	position:relative;
}
#control-area {
	width: 100%;
	height: 25%;
	/*background-color: red;*/
	position: absolute;
	bottom: 0px;
}
#mode-area{
	width:100%;
	height:30%;
	margin-top:30px;
	text-align: center;
}
#mode-area ul{
	display:block;
	margin:0 auto;
	position:relative;
}
#previous_song_button {
	left: 10%;
	bottom: 30px;
	background: rgba(201, 203, 200, 0.4);
}

#play_button {
	bottom: 20px;
	left: 43%;
	background: rgba(201, 203, 200, 0.4);
}

#next_song_button {
	bottom: 30px;
	right: 10%;
	background: rgba(201, 203, 200, 0.4);
}

#right {
	width: 75%;
	height: 100%;
	float: right;
	/*background-color: yellow;*/
}
#right ul{
	width:45px;
	height:100%;
	position:absolute;
	top:20%;
	/*right:0;*/
	/*right:-20px;*/
	/*left:1270px;*/
	z-index:999;
}
#right li{
	width:100%;
	height:50px;
	float:left;
	line-height: 50px;
	font-size:4px;
	text-align: center;
	white-space: nowrap;
	margin-right:1px;
}
/*
#right ul {
	position: absolute;
	top: 0px;
	/*可以考虑使用js更改位置
	margin-left: 20px;
}*/
/*
#right li {
	display: inline-block;
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding-left: 1px;
	/*float: left;*/
	/*background-color: gray;
}*/

#right li:hover {
	cursor: pointer;
}

#music-area {
	width: 98%;
	height: 100%;
	position: relative;
}

#music-list-area,#search-result-area ,#favourite-list-area{
	width: 100%;
	height: 100%;
	position: absolute;
	/*background-color: blue;*/
	overflow: auto;
}
.music-list p,.music-list-result p{
	color:white;
	margin-left:15px;
	margin-top:5px;
}
#foot {
	height: 0px;
	/*background-color: gray;*/
	margin-top: 0px;
}

#weight {
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	color:black;
	position:absolute;
	top:0px;
	/*background-color: #1CEE4B;*/
}
#skin{
	float:right;
	margin-right:5px;
}
#skin:hover{
	cursor:pointer;
}
#skinArea{
	position:absolute;
}
#overSkin{
	background-color:red;
	z-index:1999;
}
#skinArea li{
	display:inline-block;
	float:left;
	margin:5px;
}
i{
	position:relative;
	right:-15px;
	top:9px;
}
.icon-fixed-to-left{
	right:-11px;
}
.fa-volume-up,.fa-volume-down{
	top:2px;
	right:-1px;
}
.fa-plus,.fa-remove{
	right:-4px;
	top:3px;
}
/*
#overSkin{
	width:29px;
	height:30px;
	position:absolute;
	right:0;
	top:30px;
	background-color:white;
}*/