#media{
	position:relative;
	top:300px;
	z-index:1000;
	left:600px;
	float: right;
	margin-left: 820px;
}

input{
	border:0;
	outline:0;
}
#check{
	outline:0;
}

body{
	-moz-user-select:none;/*»ğºü*/
	-webkit-user-select:none;/*webkitä¯ÀÀÆ÷*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*ÔçÆÚä¯ÀÀÆ÷*/
	user-select:none;
}